body {
  background: #606c88;
  background: -webkit-linear-gradient(to left, #7D91DE , #DE7779);
  background: linear-gradient(to left, #7D91DE , #DE7779);
  text-align: center;
}

#artist_artist {
  width: 350px;
  font-size: 23px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

input[type=submit] {
  color: black;
  padding: 5px 15px;
  border-style: solid black 2px;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover {
  background-color: #999999;
}


.container-all {
  padding-top: 1%;
  text-align: center;
}

.container-search {
  padding-top: 1%;
}

.container-answer {
  text-align: center;
}

h1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 70px;
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
  -o-animation: neon 1s ease infinite;
}

.artist {
  font-size: 64px;
}

.user-answer {
  font-family: 'Fascinate Inline', cursive;
  font-size: 40px;
  color: black;
}

h3 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 40px;
}

img {
  width: 100%;
  height: 100%;
}

iframe {
  width: 90%;
  height: 600px;
}

.gif {
  width: 45%;
  height: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.gif:hover {
  -webkit-transform:scale(1.65);
  -moz-transform:scale(1.65);
  -ms-transform:scale(1.65);
  -o-transform:scale(1.65);
  transform:scale(1.65);
}

.answer {
  padding-bottom: 4%;
}

.wrapper {
  padding-top: 4%;
}

li {
  list-style-type: none;
  line-height:1.5em;
  float:left;
  display:inline;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 18px;
}

.genres {
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
  padding-left: 37%;
  text-align: center;
}

.genre {
  font-family: 'Fascinate Inline', cursive;
  font-size: 28px;
  font-weight: lighter;
  color: #333333;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.genre:hover {
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}

.first-header {
  text-align: center;
  margin: 20px 0 20px 0;
  text-decoration: none;
  color: #000AE1;
  font-family: 'Fascinate Inline', cursive;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}


@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #008BE1, 0 0 70px #008BE1, 0 0 80px #008BE1, 0 0 100px #008BE1, 0 0 150px #008BE1;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #008BE1, 0 0 35px #008BE1, 0 0 40px #008BE1, 0 0 50px #008BE1, 0 0 75px #008BE1;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #008BE1, 0 0 70px #008BE1, 0 0 80px #008BE1, 0 0 100px #008BE1, 0 0 150px #008BE1;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #008BE1, 0 0 35px #008BE1, 0 0 40px #008BE1, 0 0 50px #008BE1, 0 0 75px #008BE1;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #008BE1, 0 0 70px #008BE1, 0 0 80px #008BE1, 0 0 100px #008BE1, 0 0 150px #008BE1;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #008BE1, 0 0 35px #008BE1, 0 0 40px #008BE1, 0 0 50px #008BE1, 0 0 75px #008BE1;
  }
}
