body {
  background-color: #E6E6E6;
}

.container-all {
  padding-top: 1%;
  text-align: center;
}

.container-search {
  padding-top: 1%;
}

.container-answer {
  text-align: center;
}

h1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 70px;
}

.artist {
  font-size: 64px;
}

h3 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 40px;
}

img {
  width: 100%;
  height: 100%;
}

iframe {
  width: 90%;
  height: 500px;
}

.wrapper {
  padding-top: 4%;
}

li {
  list-style-type: none;
  line-height:1.5em;
  float:left;
  display:inline;
  padding-left: 1.5%;
  padding-right: 1.5%;
  font-size: 18px;
}

.genres {
  width:760px;
  margin-bottom:20px;
  overflow:hidden;
  padding-left: 37%;
  text-align: center;
}
